.c-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 1rem 0;
	position: absolute;
	background-color: $white;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 100%;
	height: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 2px dashed #949494;

	@include media-breakpoint-up(lg) {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: start;
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
		width: 100%;
		border: none;
		gap: 2rem;
	}

	.menu-open & {
		display: flex;
	}

	li {
		margin: 0.5rem 0;
		font-size: 1.25rem;
	}

	.o-button {
		@include media-breakpoint-up(lg) {
			margin-left: auto;
		}
		a {
			color: #fff;
		}
	}
}
