.o-button {
	display: inline-block;
	padding: 10px 35px;
	background-color: $orange;
	font-weight: 400;
	color: #fff;
	text-align: center;
	transition: all 0.25s ease;
	text-decoration: none;
	box-shadow: none;
	text-shadow: none;
	outline: none;
	border: none;
	line-height: 1.2;
	height: auto;
	border-radius: 20px;

	&:hover,
	&:active {
		background-color: darken($orange, 10%);
		color: #fff;
		text-decoration: none;
	}
}
