// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 0; // 1
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-style: $headings-font-style;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}

h1,
.h1 {
	font-size: clamped(32px, 60px);
}
h2,
.h2 {
	font-size: clamped(32px, 60px);
}
h3,
.h3 {
	font-size: clamped(20px, 32px);
}
h4,
.h4 {
	font-size: clamped(16px, 24px);
}
h5,
.h5 {
	font-size: clamped(16px, 20px);
}
h6,
.h6 {
	font-size: $h6-font-size;
}

// Strong

b,
strong {
	font-weight: $font-weight-bold;
}

// Emphasis
small,
.small {
	font-size: $font-size-sm;
	font-weight: $font-weight-normal;
}

:focus {
	outline: none;
}

a {
	transition: color 0.25s ease;
	color: var(--kcb-link-color);
	text-decoration: $link-decoration;

	&:hover {
		color: var(--kcb-link-hover-color);
		text-decoration: $link-hover-decoration;
	}
}

figcaption {
	font-size: $font-size-sm;
	text-align: center;
}

p + h2,
p + h3,
p + h4,
p + h5 {
	margin-top: 2.5rem;
}
